
<div class="panel panel-primary"
style="width: auto; margin:auto; margin-top: auto; background-color: rgba(255, 255, 255, 0.8)">
<div class="panel-heading" style="background-color: lightblue;color: white;">Gestion de Servicios</div>
<div class="panel-body">
        <div *ngIf="servicio">  
    <div class="row separar">
        <div class="col-sm-12">
            <hr class="bg-info">          
            <div class="row separar">

                <div class="col-sm-2">
                    <label>Tipo Servicio:</label>
                </div>

                <div class="col-sm-4">
                    <input [(ngModel)]="servicio.tipoServicio" readonly="readonly" class="form-control" placeholder="digite tipoServicio"
                    type="text" />
                </div>

                <div class="col-sm-2">
                    <label>URL Imagen:</label>
                </div>

                <div class="col-sm-4">
                        <input [(ngModel)]="servicio.imagenServicio" class="form-control" placeholder="digite url"
                        type="text" />
                </div>

            </div>
            <div class="row separar">

                    <div class="col-sm-2">
                        <label>Experiencia Laboral:</label>
                    </div>

                    <div class="col-sm-4">
                        <select [(ngModel)]="servicio.categoria" class="form-control">
                            <option value="MECANICA BASICA">MECÁNICA BASICA</option>
                            <option value="MECANICA ESPECIALIZADA">MECÁNICA ESPECIALIZADA</option>
                            <option value="REVISIONES AUTOMOTRIZ">REVISIONES AUTOMOTRIZ</option>
                            <option value="ESTETICA AUTOMOTRIZ">ESTÉTICA AUTOMOTRIZ</option>
                            <option value="A DOMICILIO">A DOMICILIO</option>
                        </select>
                    </div>

                    <div class="col-sm-2">
                        <label>Valor Aproximado:</label>
                    </div>

                    <div class="col-sm-4">
                            <input [(ngModel)]="servicio.valor" class="form-control" placeholder="digite valor"
                            type="number" />
                    </div>

            </div>

            <div class="row botonesayuda">
                <div class="col-sm-12">
                        <button class="btn btn-success mr-1" (click)="update()" >Actualizar</button>
                        <button class="btn btn-danger mr-1" routerLink="/misservicios" (click)="delete()" >Eliminar</button>
                        <button class="btn btn-secondary" routerLink="/misservicios">Volver</button>
                </div>
            </div>


        </div>
    </div>
    </div>
</div>
</div>
